use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :thunder_phoenix, ThunderPhoenixWeb.Endpoint,
  secret_key_base: "D+iABMNEo6Lzha8+zv4c21IXYk5I4QbNhY4AGP2u2TEkcEINjXJsLpDhS4vNVk6H"

# Configure your database
config :thunder_phoenix, ThunderPhoenix.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  # password: "postgres",
  hostname: "db",
  database: "thunder_phoenix_prod",
  pool_size: 15
